<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.first_name %></h1>
    <p>
      <%= project.name %> is fully funded!.<br>
    </p>
    <p>To see the project status login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for funding <%= project.name %> and have a great day!</p>
  </body>
</html>