<!--

#as an owner
#project.name 
#total amount of $ raised right now
#how many backers at each reward
#how many days are left


#as a backer

#want to see who owns the project
#all the projects I have backed
#total amont of $ I've spent on a project
#want to be notified when any projects meet their goal

-->

<h1>My Project Status:</h1>
	
	<% current_user.owned_projects.each do |project| %>
		<%= project.name %>
		<%= project.description %>
		<%= project.funding_goal %>
		<!-- current pledge amount -->
		<%= distance_of_time_in_words(Time.now, project.end_date) %> 
	<% end %>

<h1>Projects backed:</h1>

