/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides


 */

@import url(http://fonts.googleapis.com/css?family=Roboto:300);


body {font-family: 'Roboto', sans-serif important!}

.pledge_button {
	background-color: #ccc;
	padding: 0.5em;
	color: white;
	font-size: 12pt;
	border:none;
	outline:none;
}

#project_info {
	margin-top:40px;
}

#project_info img {
	float:left;
	max-width:500px;
	width:100%;
	margin-right:20px;
}

#project_info .small-4.columns {
	width:100%;
	margin-left:0px;
}